tensorflow==2.13.0        # incluye Keras 2.13, no agregues keras por separado
streamlit
numpy==1.23.5           # versión compatible con TF 2.13
pandas
matplotlib
pillow                   # ← para PIL
scikit-learn==1.5.1  # misma que usaste al crear el pickle
gdown
